.view-solr-search-content {
	.view-header,
	.view-content a,
	.view-content .field__label,
	.display_selector__container {
		font-size: 15px;
	}

	.view-content a,
	.view-content .field__label {
		line-height: 24px;
	}
}

.search-results__header {
	.pagination_option_label__container {
		font-size: 15px;

		> * .pagination_option_label {
			display: flex;
			align-items: center;
		}		
	}
}


.cl-title-wrapper {
    justify-content: space-between;
    margin-bottom: 50px;
	.cl-logo {
		img {
			border: 0;
			box-shadow: none;
			padding: 0;
			margin-right: 22px;
		}
	}
	.page-title {
		color: $black;
		margin: 0;
	}
}
.srot-refine-btns {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
aside {
	width: 100%;
	@include xs-screen {
		width: 286px;
		min-width: 286px;
	}
}
.content-wrapper {
	@include mobile-tablet {
		flex-wrap: wrap;
	}
	.cl-right-content {
		width: 100%;
		@include xs-screen {
			padding-left: 15px;
			padding-top: 35px;
		}
	}
	.content-action-group {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	.collections-grid {
		> .col {
			padding-top: 6px;
			padding-bottom: 6px;
			transition: all .3s ease-in-out;
			&:hover {
				background-color: #f6f6f6;
				.card {
					.card-title {
						a {
							color: $steelblue;
						}
					}
				}
			}
			.card {
				border: 0;
				border-radius: 0;
				background: transparent;
				.card-title {
					margin-bottom: 17px;
					font-size: 18px;
					line-height: 21px;
					a {
						color: $black;
						border: 0;
					}
					img {
						max-height: 16px;
						width: auto;
						vertical-align: baseline;
						margin: 0 2px;
					}
				}
				.card-img {
					height: 200px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #f6f6f6;
					overflow: hidden;
					margin-bottom: 13px;
				}
				img {
					border: 0;
					padding: 0;
					box-shadow: none;
					border-radius: 0;
					width: auto;
					height: 100%;
					max-width: initial;
					&.icon {
						height: auto;
						padding: 10px;
						max-width: 120px;
    					max-height: 120px;
					}
				}
				.card-text {
					color: $black;
					+ .card-text {
						margin-top: 10px;
					}
					.text-muted {
						font-size: 14px;
						color: $black!important;
						font-weight: 300;
					}
				}
				.card-body {
					padding: 0;
				}
			}	
		}
	}
}