/* optional */
.text-orcid-element.masked:invalid {
  outline: 1px solid red;
}

.shell {
  position: relative;
  line-height: 1;
}
.shell span {
  position: absolute;
  left: 3px;
  top: 1px;
  color: #ccc;
  pointer-events: none;
  z-index: -1;
}
.shell span i {
  font-style: normal;
  /* any of these 3 will work */
  color: transparent;
  opacity: 0;
  visibility: hidden;
}

input.text-orcid-element.masked,
.shell span {
  font-size: 16px;
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase;
}

#edit-field-orcid-id-0-valueMask {
  display: none;
}
