@mixin customCheckbox($theme-name, $mainFont, $secondaryColor, $bdrRadius) {
	.#{$theme-name} {
		form {
			label {
				font-family: $mainFont;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 16px;
				margin-bottom: 10px;
			}

			input {
				height: 42px;
				background: $white;
				border: 1px solid $secondaryColor;
				box-sizing: border-box;
				border-radius: $bdrRadius;
			}

			input[type="checkbox"] {
				opacity: 0;
				width: 16px;
				height: 16px;
				position: absolute;
				left: 16px;

				+label {
					position: relative;
					@extend .button-text;
					color: $secondaryColor;
					text-align: left;
					padding-left: 26px;
					line-height: 16px;
					cursor: pointer;
					white-space: normal;
					vertical-align: middle;
					font-weight: 500;

					// &:hover,
					// &:focus {
					// 	font-weight: bold;

					// 	&::before {
					// 		border-width: 2px;
					// 	}
					// }

					&::before {
						content: "";
						display: inline-block;
						width: 16px;
						height: 16px;
						background: $white;
						border: 1px solid $secondaryColor;
						box-sizing: border-box;
						position: absolute;
						left: 0;
						top: 0;
						vertical-align: middle;
						cursor: pointer;
						border-radius: $bdrRadius;
					}
				}

				&:checked+label {
					font-weight: bold;

					&::before {
						background: $secondaryColor;
					}

					&::after {
						width: 16px;
						height: 16px;
						display: block;
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						background-image: url('/themes/custom/leaf_base/images/form_icons/check-tick-white.svg');
						background-size: auto;
						background-position: center;
						background-repeat: no-repeat;
					}
				}

			}
		}
	}
}

@include customCheckbox($cwrc, $mainFont, $darkgray, 3px);
@include customCheckbox($leaf, $mainFont, $mallard-green, 3px);
