.view-solr-search-content {
	.view-header,
	.view-content a,
	.view-content .field__label,
	.display_selector__container {
		font-size: 15px;
	}

	.view-content a,
	.view-content .field__label {
		line-height: 24px;
	}
}

.search-results__header {
	.pagination_option_label__container {
		font-size: 15px;

		> * .pagination_option_label {
			display: flex;
			align-items: center;
		}		
	}
}


.cl-title-wrapper {
    justify-content: space-between;
    margin-bottom: 50px;
	.cl-logo {
		img {
			border: 0;
			box-shadow: none;
			padding: 0;
			margin-right: 22px;
		}
	}
	.page-title {
		color: $black;
		margin: 0;
	}
}
.srot-refine-btns {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
aside {
	width: 100%;
	@include xs-screen {
		width: 286px;
		min-width: 286px;
	}
}
