
.content > div {
    width: 100%;
}
iframe, video, .openseadragon-viewer {
    border: 0 none;
}
body {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;

	.container {
		@include md-screen {
			max-width: 1068px;
			main {
				padding-top: 55px;
				padding-bottom: 25px;
				.block {
					padding: 26px 0;
					margin: 0;
				}
			}	
		}
	}
	.homepage-banner {
		.container {
			@include md-screen {
				max-width: 994px;
			}
		}
	}
	a:not(.btn, .button) {
		&:hover, &:focus {
			color: $steelblue !important;
		}
		&:active, &.active {
			color: $steelblue-dark !important;
		}
	}
}

.block-title-underlined {
	padding-bottom: 15px;
	border-bottom: 1.5px solid $black;
	text-align: center;
	display: block;
	max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

.block-page-title-block {
	margin: 30px 0 50px;
	
	h1 {
		font-family: $mainFont;
		font-style: normal;
		font-weight: 700;
		font-size: 34px;
		color: $black;
		line-height: 41px;
		text-align: center;
		letter-spacing: -0.02em;
	}
}

.block-system-breadcrumb-block {
	border-bottom: 1px solid #000000;

		/* Breadcrumbs */
	li, a {
		font-family: $mainFont;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

div.alert {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-center {
	@include flex-center;
}

.flex-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


@mixin breadcrumbLinkColor($theme-name, $breadcrumbLinkColor, $breadcrumbLinkColorActive) {
	.#{$theme-name} {
		.block-system-breadcrumb-block {
			li, a {
				color: $breadcrumbLinkColor;
			}
		}
		a:not(.btn, .button, .fc-heading) {
			&:hover, &:focus {
				color: $breadcrumbLinkColor !important;
			}
			&:active, &.active {
				color: $breadcrumbLinkColorActive !important;
			}
		}
	}
}

@include breadcrumbLinkColor($cwrc, $steelblue, $steelblue-dark);
@include breadcrumbLinkColor($leaf, $orange, $black);