body {
	&.path-user {
		.header-section {
			width: 100%;
			height: 119px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: url(../images/header-bg.png) no-repeat center;
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
			background-size: cover;
			position: relative;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
				background: rgba(0, 0, 0, 0.65);
			}

			> * {
				position: relative;
				z-index: 1;
			}

			.block,
			.field {
				margin: 0;
			}

			h1, h2, h3, p {
				margin: 0;
				color: $white;
			}
		}

		nav.tabs,
		.block-system-main-block {
			max-width: 480px;
			margin-left: auto;
			margin-right: auto;
		}

		ul.primary.nav-tabs {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: nowrap;
			border-bottom: 1px solid $black;

			@media (max-width: 767px) {
				flex-direction: column-reverse !important;
			}

			> li {
				width: 100%;

				&.active,
				&:hover {
					position: relative;

					a {
						border: none;
					}

					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 8px;
						position: absolute;
						bottom: -2px;
						left: 0;
						background: url(../images/tab-active.png) no-repeat center;
					}
				}
			}

			a {
				font-family: $mainFont;
				font-style: normal;
				font-weight: 700;
				font-size: 12px;
				line-height: 16px;
				text-align: center;
				text-transform: uppercase;
				color: $black;
				padding-bottom: 15px;
			}
		}

		div.forgot {
			text-align: center;
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: $text-color;

			p {
				margin-bottom: 2px;
			}

			a {
				text-decoration: underline;
			}
		}
	}

	&.page-user-login {
		ul.primary.nav-tabs {
			flex-direction: row-reverse;

			li:last-of-type {
				display: none;
			}
		}
	}

	&.page-user-password {
		ul.primary.nav-tabs {
			li {
				&:first-of-type {
					display: none;
				}

				&:last-of-type a {
					font-size: 0;

					&::before {
						content: "Login";
				    font-size: 0.75rem;
					}
				}
			}
		}

		form {
			> p:not(.desc) {
				display: none;
			}

			p {
				font-family: $mainFont;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 16px;
				color: $darkgray-light;
				display: block;
				margin-top: 10px;
			}
		}
	}
}